*.bak
*.txt
*.tdf
*.tmw_info
*.cdf
*.ver
*.qdb
*.qpg
*.qtl
\db
\incremental_db
.*
*.lib
*.var
*.tcl
*.vo
*.setup
*.f
*.bsf
*.ppf
*.sip
*.spd
*.sdc
*.qpf
*.srf
*.cmp
*.bat
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.qsf
*.qsf
*.qws
*.qsf
371lab5/DE1_SoC.qsf
371lab5/DE1_SoC.sof
*.sld
*.sof
*DS_Store
*.kpt
*.db
*.cdb
*.hdb
371lab5/db
371lab5/incremental_db
*.rpt
*.summary
*.done
*.smsg
*.pin
*.qws
*.sld
*.jdi
_*